:root {
  --orange: #d87d4a;
  --black: #101010;
  --gray: #f1f1f1;
  --gray-light: #fafafa;

  --orange-hover: #fbaf85;
  --white: #ffffff;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.woff2") format("woff2"),
    url("../fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Manrope", "Arial", sans-serif;
  margin: 0;
}

main {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: var(--black);
  padding: 35px 0;
}

.header__logo {
  width: 143px;
  height: 25px;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
  margin: 0;
}

.header__link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.header__link:hover {
  text-decoration: underline;
}

.header__shopping {
  width: 24px;
  height: 20px;
  transition: transform 0.3s ease;
}

.header__shopping:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

.footer {
  background-color: var(--black);
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.footer-left {
  max-width: 600px;
  line-height: 1.8;
}

.footer-logo {
  width: 143px;
  height: 25px;
  margin-bottom: 20px;
}

.footer-left p {
  margin: 10px 0;
  color: var(--gray);
}

.footer-copyright {
  margin-top: 20px;
  font-size: 0.9rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 110px;
}

.footer-nav {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-nav a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.footer-social a:hover img {
  opacity: 0.75;
}
